#head-section {
  height: 30rem;
  margin-top: 10rem;
}

.head-section {
  background-image: url("../images/category.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .head-text {
    font-family: "play-fair";
    font-size: 5rem;
  }
}

// MAIN

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15rem 0;
}

.main .bottom-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  padding: 0 1rem;
  width: 78rem;
  text-align: center;
}

.main .title {
  font-family: play-fair;
  font-size: 4rem;
  color: #0b1c39;
}

.main .subtitle {
  font-family: poppins;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  color: #707070;
}

.main .bottom-side .product-count {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #828bb2;
  font-family: poppins;
}

.main .bottom-side .product-count p {
  margin: 0 3rem;
}

.main .bottom-side .product-count .minus,
.plus {
  border: 1px solid #828bb2;
  padding: 1rem 2rem;
}

.main .bottom-side .product-count .num {
  padding: 1rem 2rem;
  color: white;
  border: 1px solid #828bb2;
  background-color: #828bb2;
}

.main .bottom-side button {
  margin-top: 3rem;
  padding: 1.8rem 3.6rem;
  border: 1px solid #2577fd;
  border-radius: 1rem;
  color: #2577fd;
  background-color: white;
}

.main .bottom-side button:hover {
  background-color: #2577fd;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 996px) and (max-width: 1196px) {
  .main img {
    width: 93rem;
    height: 56rem;
  }

  .main .bottom-side {
    margin-top: 4rem;
  }

  .main {
    margin: 10rem 0;
  }
}

@media only screen and (min-width: 776px) and (max-width: 996px) {
  .main {
    margin-top: 3rem;
  }

  .main img {
    width: 69rem;
    height: 42rem;
  }

  .main .bottom-side {
    margin-top: 4rem;
  }

  .main .title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 776px) {
  .main {
    margin-top: 3rem;
  }

  .main img {
    width: 45rem;
    height: 31rem;
  }

  .main .bottom-side {
    margin-top: 4rem;
    width: 48rem;
  }

  .main .title {
    font-size: 2.5rem;
  }
}

// promotions

#promotions {
  height: 61rem;
  background-color: #191d34;
  color: white;
}

.subscribe-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 8px;
}

.subscribe-area  h1 {
  font-family: "play-fair";
  font-size: 3.2rem;
}

.subscribe-area p {
  font-family: "poppins";
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 75rem;
}


.subscribe-area .input-area {
  position: relative;
  display: flex;
  align-items: center;
}

.subscribe-area .input-area input{
  background-color: transparent;
  padding: 2rem 12rem;
  border: 1px solid white;
  border-radius: 5rem;
}

.subscribe-area .input-area ::placeholder{
  color: rgba(255, 255, 255, 0.793);
  font-size: 1.6rem;
}

.subscribe-area .input-area button {
  padding: 1.5rem 3rem;
  background-color: #2577fd;
  color: white;
  border: 1px solid #2577fd;
  font-size: 1.6rem;
  border-radius: 5rem;
  position: absolute;
  right: 0.7rem;
}

.subscribe-area .input-area button:hover {
  background-color: white;
  color: #2577fd;
  cursor: pointer;
} 

@media only screen and (min-width: 996px) and (max-width: 1196px) {
  #promotions {
    height: 40rem;
  }
}

@media only screen and (min-width: 776px) and (max-width: 996px) {
  #promotions {
    height: 34rem;
  }
}

@media only screen and (max-width: 776px) {
  #promotions {
    height: 37rem;
  }

  .subscribe-area  h1 {
    font-size: 2.5rem;
  }

  .subscribe-area p {
    width: 45rem;
  }
}