@font-face {
  font-family: play-fair;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: yellowtail;
  src: url("../fonts/Yellowtail-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}