#main-area {
  margin-top: 10rem;
  min-height: 76rem;
  background-color: #c8ebff;
}

.main-area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 0 6rem;
}

.main-area .blue {
  font-family: yellowtail;
  font-size: 4rem;
  color: #2577fd;
}

.main-area h1 {
  font-family: play-fair;
  font-size: 10rem;
  font-weight: bold;
}

.main-area .best {
  font-family: play-fair;
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
}

.main-area .right-text button {
  padding: 14px 29px;
  background-color: #2577fd;
  border-radius: 50px;
  border: none;
  font-size: 1.8rem;
  font-family: poppins;
  margin-top: 2rem;
  color: white;
}

@media only screen and (min-width: 776px) and (max-width: 1196px) {
  #main-area {
    min-height: 50rem;
    background-color: #c8ebff;
  }
  .main-area .left-img img {
    width: 48rem;
    height: 50rem;
  }
  .main-area .right-text {
    width: 30rem;
  }
  .main-area h1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 776px) {
  .main-area .left-img img {
    display: none;
  }
  #main-area {
    min-height: 35rem;
    background-color: #c8ebff;
  }
  .main-area .left-img img {
    width: 48rem;
    height: 50rem;
  }
  .main-area .right-text {
    width: 30rem;
  }
  .main-area h1 {
    font-size: 4rem;
  }
}
#shop {
  min-height: 80rem;
  padding: 18rem 4.5rem 15rem;
}

.shop h2 {
  font-size: 5rem;
  font-family: play-fair;
  font-weight: bold;
  padding-bottom: 7rem;
  text-align: center;
}

.shop .images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.shop .images img {
  width: 44rem;
  height: 27rem;
}

.shop .image {
  position: relative;
}

.shop .text-over {
  position: absolute;
  top: 6rem;
  right: 3rem;
}

.shop .text-over h3 {
  font-family: play-fair;
  font-size: 3rem;
}

.shop .text-over button {
  padding: 9px 16px;
  margin-top: 9px;
  background-color: #ffce25;
  border-radius: 50px;
  border: none;
  font-size: 1.6rem;
  font-family: poppins;
  color: rgb(0, 0, 0);
  position: relative;
  left: 10px;
}

.shop .text-over p {
  font-family: yellowtail;
  font-size: 2rem;
  color: #2577fd;
  position: relative;
  bottom: 13px;
}

.shop .images .text-over-second {
  position: absolute;
  top: 6rem;
  right: 3rem;
}

.shop .text-over-second .blue {
  font-family: yellowtail;
  font-size: 2.5rem;
  color: #2577fd;
  position: relative;
  top: 10px;
  left: 40px;
}

.shop .text-over-second h3 {
  font-family: play-fair;
  font-size: 3rem;
  position: relative;
}

.shop .text-over-second p {
  font-size: 1.6rem;
  position: relative;
  left: 30px;
}

@media only screen and (min-width: 776px) and (max-width: 1196px) {
  #shop {
    min-height: 156rem;
  }
  .shop .images img {
    width: 64rem;
    height: 39rem;
  }
  .shop h2 {
    font-size: 3rem;
  }
  .shop .text-over {
    position: absolute;
    top: 13rem;
    right: 7rem;
  }
  .shop .text-over h3 {
    font-size: 4rem;
  }
  .shop .text-over p {
    font-size: 3rem;
  }
  .shop .images .text-over-second {
    position: absolute;
    top: 13rem;
    right: 7rem;
  }
  .shop .text-over-second .blue {
    font-size: 3rem;
    top: 10px;
    left: 60px;
  }
  .shop .text-over-second h3 {
    font-size: 4rem;
  }
  .shop .text-over-second p {
    left: 60px;
  }
}
@media only screen and (max-width: 776px) {
  #shop {
    min-height: 110rem;
    padding: 8rem 4.5rem 8rem;
  }
  .shop h2 {
    font-size: 3rem;
    padding-bottom: 4rem;
  }
}
#latest {
  min-height: 154rem;
}

.latest .latest-head {
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.478);
}

.latest .latest-head h2 {
  font-size: 5rem;
  font-family: play-fair;
  font-weight: bold;
}

.latest .latest-head .list {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
  font-family: poppins;
  color: gray;
}

.latest .latest-head .list div:nth-child(1) {
  color: rgb(232, 17, 17);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15rem 0;
  gap: 3rem;
}

.cards .card {
  width: 37rem;
  height: 50rem;
  border: none;
  position: relative;
}

.cards .card img {
  width: 34rem;
  height: 37rem;
  align-self: center;
}

.cards .card-info {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards .card .stars {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  color: gray;
}

.cards .card .stars .yellow {
  color: gold;
}

.cards .card p {
  font-family: play-fair;
  font-size: 1.6rem;
}

.cards .card .price {
  font-family: poppins;
  font-size: 1.8rem;
}

.cards .card .price span {
  color: #ff003c;
  text-decoration: line-through;
}

.cards .card .new {
  font-size: 1.5rem;
  background-color: #ff003c;
  color: white;
  padding: 3px 15px;
  border-radius: 2rem;
  position: absolute;
  top: 2rem;
  left: 4rem;
}

@media only screen and (min-width: 1196px) and (max-width: 1406px) {
  .cards {
    gap: 0rem;
  }
  .cards .card {
    width: 37rem;
    height: 50rem;
    border: none;
  }
  .cards .card img {
    width: 34rem;
    height: 37rem;
    align-self: center;
  }
}
@media only screen and (min-width: 996px) and (max-width: 1196px) {
  #latest {
    min-height: 129rem;
  }
  .cards {
    gap: 0rem;
    padding: 10rem 0;
  }
  .cards .card {
    width: 30rem;
    height: 47rem;
  }
  .cards .card img {
    width: 27rem;
    height: 29rem;
  }
}
@media only screen and (min-width: 776px) and (max-width: 996px) {
  #latest {
    min-height: 100rem;
  }
  .latest .latest-head {
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.478);
  }
  .cards {
    gap: 0rem;
    padding: 5rem 0;
  }
  .cards .card {
    width: 30rem;
    height: 47rem;
  }
  .cards .card img {
    width: 25rem;
    height: 27rem;
  }
}
@media only screen and (max-width: 776px) {
  .latest .latest-head {
    display: block;
    text-align: center;
  }
  .latest .latest-head .list {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 1.6rem;
    font-family: poppins;
    color: gray;
  }
  .latest .latest-head h2 {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
  .cards {
    gap: 0rem;
    padding: 5rem 0;
  }
}
.best-product {
  margin: 0 6rem;
  background-color: #fff6d9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58rem;
  position: relative;
}

.best-product img:nth-child(1) {
  align-self: flex-end;
}

.best-product .info-text {
  width: 70rem;
  margin: 0 6rem;
}

.best-product h1 {
  font-size: 5.5rem;
  font-family: play-fair;
  margin-bottom: 1.9rem;
}

.best-product p {
  font-size: 2rem;
  font-family: poppins;
  margin-bottom: 5.5rem;
}

.best-product button {
  padding: 16px 40px;
  font-size: 1.8rem;
  background-color: #000000;
  border-radius: 50px;
  border: none;
  color: white;
}

.best-product .info-text img {
  position: absolute;
  right: 10rem;
}

@media only screen and (min-width: 996px) and (max-width: 1196px) {
  .best-product .info-text {
    width: 55rem;
    margin: 0;
  }
  .best-product h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 996px) {
  .best-product {
    height: 43rem;
    margin: 0 2rem;
  }
  .best-product img:nth-child(1) {
    display: none;
  }
  .best-product .info-text {
    width: 55rem;
    margin: 2rem;
  }
  .best-product h1 {
    font-size: 4.5rem;
  }
  .best-product .info-text img {
    bottom: 2rem;
  }
}
@media only screen and (max-width: 576px) {
  .best-product {
    height: 33rem;
    margin: 0 2rem 2rem;
    padding: 0 2rem;
  }
  .best-product img:nth-child(1) {
    display: none;
  }
  .best-product .info-text {
    width: 55rem;
    margin: 0;
  }
  .best-product h1 {
    font-size: 2.1rem;
  }
  .best-product p {
    font-size: 1.7rem;
  }
  .best-product .info-text img {
    display: none;
  }
}
#best-collection {
  height: 110rem;
}

.best-collection {
  padding: 20rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.best-collection .first-col {
  width: 36rem;
  margin: 0 3rem;
}

.best-collection .first-col .title {
  font-size: 4.5rem;
  font-family: play-fair;
  margin-bottom: 1.9rem;
}

.best-collection .first-col .subtitle {
  font-size: 2rem;
  font-family: poppins;
  margin-bottom: 5.5rem;
}

.best-collection .first-col button {
  padding: 16px 40px;
  font-size: 1.8rem;
  background-color: #2577fd;
  border-radius: 50px;
  border: none;
  color: white;
}

.best-collection .first-col img {
  padding-top: 13rem;
}

.best-collection .third-col {
  width: 39rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.best-collection .third-col p {
  font-size: 1.8rem;
  font-family: poppins;
}

.best-collection .third-col .second-row p {
  font-size: 1.8rem;
  font-family: poppins;
  background-color: #2577fd;
  color: white;
  border-radius: 10px;
  padding: 1.4rem 3rem;
}

.best-collection .third-col .first-row {
  display: flex;
  align-items: end;
  gap: 1rem;
  margin-bottom: 3rem;
}

.best-collection .third-col .second-row {
  display: flex;
  align-items: end;
  gap: 1rem;
  margin-bottom: 3rem;
}

.best-collection .third-col .third-row {
  display: flex;
  align-items: end;
  gap: 1rem;
}

@media only screen and (min-width: 996px) and (max-width: 1196px) {
  .best-collection .first-col .title {
    font-size: 3.3rem;
  }
  .best-collection .first-col {
    width: 36rem;
    margin: 0;
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 796px) and (max-width: 996px) {
  #best-collection {
    height: 68rem;
  }
  .best-collection {
    padding: 10rem 0;
    gap: 0;
  }
  .best-collection .second-col img {
    display: none;
  }
  .best-collection .first-col .title {
    font-size: 3.3rem;
  }
  .best-collection .first-col {
    width: 33rem;
    margin: 0;
    margin-left: 0rem;
  }
  .best-collection .first-col img {
    padding-top: 3rem;
  }
  .best-collection .third-col {
    width: 36rem;
    justify-content: start;
  }
}
@media only screen and (max-width: 796px) {
  #best-collection {
    height: 75rem;
  }
  .best-collection .first-col .title {
    font-size: 3.3rem;
  }
  .best-collection .first-col {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }
  .best-collection {
    padding: 7rem 0;
    display: block;
  }
  .best-collection .second-col img {
    display: none;
  }
  .best-collection .first-col img {
    display: none;
  }
  .best-collection .third-col {
    width: 100%;
    padding: 0 2rem;
  }
}
#latest-news {
  height: 40rem;
  background-image: url("../images/get-our-latest-img.png");
  margin: 0 3rem;
}

.latest-news {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.latest-news .left-side .title {
  font-size: 4.5rem;
  font-family: play-fair;
  margin-bottom: 1.9rem;
}

.latest-news .left-side .subtitle {
  font-size: 2rem;
  font-family: poppins;
  margin-bottom: 5.5rem;
}

.latest-news .right-side {
  position: relative;
}

.latest-news .right-side input {
  width: 40rem;
  border-radius: 5rem;
  border: none;
  padding: 22px 35px;
  background-color: white;
  outline: none;
}

.latest-news .right-side ::-moz-placeholder {
  color: gray;
  font-size: 1.6rem;
}

.latest-news .right-side ::placeholder {
  color: gray;
  font-size: 1.6rem;
}

.latest-news .right-side button {
  padding: 22px 42px;
  font-size: 1.4rem;
  background-color: #2577fd;
  border-radius: 50px;
  border: none;
  color: white;
  position: absolute;
  left: 25rem;
}

@media only screen and (min-width: 796px) and (max-width: 1196px) {
  .latest-news .left-side .title {
    font-size: 3.6rem;
  }
  .latest-news .right-side input {
    width: 30rem;
    padding: 22px 40px;
  }
  .latest-news .right-side button {
    padding: 22px 30px;
    font-size: 1.4rem;
    left: 17.5rem;
  }
}
@media only screen and (max-width: 796px) {
  .latest-news {
    flex-direction: column;
    gap: 2rem;
  }
  .latest-news .left-side .title {
    font-size: 2.7rem;
  }
  .latest-news .right-side input {
    width: 40rem;
  }
  .latest-news .right-side button {
    padding: 22px 30px;
    left: 27.5rem;
  }
}
.shop-method {
  padding: 20rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.shop-method .col {
  align-self: flex-start;
  width: 30rem;
  height: 19rem;
  padding: 0 2rem;
}

.shop-method .col i {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.shop-method .col h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: poppins;
}

.shop-method .col p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-family: poppins;
}

@media only screen and (min-width: 796px) and (max-width: 1196px) {
  .shop-method {
    padding: 10rem 0;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .shop-method .col {
    width: 30rem;
  }
}
@media only screen and (max-width: 796px) {
  .shop-method {
    display: block;
    padding: 5rem 0;
  }
  .shop-method .col {
    width: 50rem;
  }
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}

.gallery img {
  width: 26rem;
}

@media only screen and (min-width: 796px) and (max-width: 1196px) {
  .gallery img {
    width: 17rem;
  }
}
@media only screen and (max-width: 796px) {
  .gallery {
    flex-wrap: wrap;
  }
  .gallery img {
    width: 18rem;
  }
}