.nav-area {
  height: 10rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  position: sticky;
  font-family: poppins;
}

.burger {
  display: none;
}

.responsive {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-list li {
  list-style: none;
  font-size: 1.6rem;
}

.nav-list li:hover {
  color: #ff003c;
  cursor: pointer;
}

.hot {
  position: relative;
}

.hot .hot-text {
  position: absolute;
  bottom: 23px;
  left: 23px;
  border-radius: 5px;
  padding: 4px 7px;
  background-color: #ff003c;
  color: white;
  font-size: 1.1rem;
}

.responsive ul li .dropdown {
  display: none;
}

.responsive ul li:nth-child(3):hover .dropdown {
  display: block;
  background-color: rgb(253, 253, 253);
  width: 15rem;
  height: 10rem;
  padding: 2rem 0;
  border-top: 5px solid #ff003c;
  position: absolute;
  top: 7rem;
}

.responsive ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.responsive ul li a:hover {
  color: #ff003c;
}

.responsive ul li:nth-child(4):hover .dropdown {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 15rem;
  height: 10rem;
  padding: 2rem 0;
  border-top: 5px solid #ff003c;
  position: absolute;
  top: 10rem;
}

.responsive ul li:nth-child(5):hover .dropdown {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 15rem;
  height: 22rem;
  padding: 1rem 0;
  border-top: 5px solid #ff003c;
  position: absolute;
  top: 10rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-right .search input {
  width: 100%;
  padding: 13px 14px;
  border: 1px solid gray;
  border-radius: 2rem;
  outline: none;
}

.search input::-moz-placeholder {
  color: gray;
  font-size: 1.2rem;
}

.search input::placeholder {
  color: gray;
  font-size: 1.2rem;
}

.search {
  position: relative;
}

.search-icon {
  font-size: 1.6rem;
  position: absolute;
  top: 10px;
  right: 14px;
  color: gray;
}

.nav-right .heart-icon {
  width: 4rem;
  height: 4rem;
  border: 1px solid gray;
  border-radius: 50%;
  position: relative;
  font-size: 1.6rem;
  color: gray;
  padding: 1rem;
}

.nav-right .digit {
  padding: 5px;
  border-radius: 50%;
  background-color: #00b1ff;
  color: white;
  position: absolute;
  bottom: 29px;
  left: 24px;
  font-size: 1.1rem;
}

.nav-right .cart-icon {
  width: 4rem;
  height: 4rem;
  border: 1px solid gray;
  border-radius: 50%;
  position: relative;
  font-size: 1.6rem;
  color: gray;
  padding: 1rem;
}

.nav-right button {
  padding: 14px 29px;
  background-color: #2577fd;
  border-radius: 50px;
  border: none;
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

@media only screen and (min-width: 1196px) and (max-width: 1380px) {
  .nav-right .heart-icon {
    display: none;
  }
  .nav-right .search {
    display: none;
  }
}
@media only screen and (min-width: 996px) and (max-width: 1196px) {
  .nav-right .heart-icon {
    display: none;
  }
  .nav-right .search {
    display: none;
  }
}
@media only screen and (max-width: 996px) {
  .responsive {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.645);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  .burger p {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
}